
.heder {
    background-color: yellowgreen;
    height: 15%;
    min-height: 50px;    
    text-align: center;
    font-size: larger;
    font-weight: 600;
    color: green; 
    animation-name: test;   
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.cityBox {
    background-color: aquamarine;
    background-size: 100%; 
    background-repeat: no-repeat;
    width: 25%;
    min-height: 150px;
    min-width: 50px;
    margin: 5%;
    text-align: center;
    font-weight: 700; 
    border-radius: 25px;   
}
p {
    font-weight: 900;
    color: black;
    font-size: 1rem;
    background-color: aliceblue;
    padding: 0;
    display: inline;

}

@keyframes test {
    from {background-color: red;}
    to {background-color: blue;}
}